html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Coda', cursive;
}

.container {
    width: 100vmin;
    min-width: 300px;
    margin-right: auto;
    margin-left: auto;
    
    border: 1px solid grey;
    background-color: #def;
    padding: 0.5em 1em;
}

h1 {
    font-family: 'Open Sans', sans-serif;

    font-weight: 300;
    text-align: center;

}


/*
 * Styles for the deck of cards
 */
.fa-star {
    font-size: 1.25em;
    color:gold;
}

#stars {
    float: right;
}

.deck {
    width: 680px;
    min-height: 660px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}


.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.card.matched {
    opacity: 0.1;
}
.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}


.cards_open {
  transform: rotateY(180deg);
  box-shadow: -2px 2px 2px gray;
  transition: transform 1s linear, background-image 0s .5s, background-color 0s .5s, box-shadow .5s .5s, opacity 1s;
}

 #dialog-box button{
    padding: 2em;
    background-color: steelblue;
    color: white;
    font-size: 1em;
 }

 .timer {
    display: inline-block;
    margin-left: 2em;
 }